<div class="row">
<div class="col-md-12">
<h2>{{transit.name}}</h2>
<hr/>
<div>
<p>Restaurant picture here<hr>
<img src="/images/uploaded/1538881368842.png"/></p>

</div>
          <!--
                <td><a href="tel:+{{this.contact}}">{{this.contact}}</a></td>
                <td>{{this.addressStreet}}{{this.addressCity}}{{this.addressState}}{{this.addressPostal}}</td>
                <td>{{this.cuisine}}</td>
                <td>{{this.review}}</td>
                <td>{{this.rate}}</td>
                <td>{{this.area}}</td>
                <td>{{this.opendate}}</td>
            </tr>
   -->
</div>
</div>
{{#unless transit}}
<div class="col-md-12 text-center">
<strong>{{message}}</strong>
</div>
{{/unless}}
</div>